<!DOCTYPE html>
<html>
<head>
	<title>Vizualização equipamentos - Laboratório de automação e robótica da ECT.</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include partes/navbar %>
	<section class="conteudo-principal">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 col-xs-12">
					<div id="conteudo"></div>
					<%if(equipamentos.length>0){%>
						<table class="table table-sm">
								<thead style="text-align: center">
									<tr>
										<th>#</th>
										<th>Nome</th>
										<th>Editar</th>
										<th>Apagar</th>
									</tr>
								</thead>
								<tbody style="text-align: center;">
									<%for(let i = 0; i<equipamentos.length;i++){%>
										<tr>
											<th scope="row"><%=equipamentos[i].codigo%></th>
											<td><%=equipamentos[i].nomeEquipamento%></td>
											<td><button value="<%=equipamentos[i]._id%>" type="button" class="btn btn-primary btn-sm editar"><i class="fas fa-edit"></i></button></td>
											<td><button value="<%=equipamentos[i]._id%>" type="button" class="btn btn-danger btn-sm excluir"><i class="fas fa-trash-alt"></i></button></td>
										</tr>
									<%}%>
								</tbody>
							</table>
					<%}else{%>
						<h1>Não existem equipamentos cadastrados</h1>
					<%}%>	
				</div>
			</div>	
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			©2018, Laboratório de Automação e Robótica. Todos os direitos reservados.<br>
		</div>	
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			var flag = false;
			if(!flag) $('#maisItem').hide();
			$('#adicionarMaisItem').click(function(){
				if(!flag){
					$('#maisItem').fadeIn(1000);
					flag = true;
				}else{
					$('#maisItem').fadeOut(1000);
					flag = false;
				}	
			});
			function getUrlVars(){
				var vars = [], hash;
				var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				for(var i = 0; i < hashes.length; i++)
				{
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
				}
				return vars;
			}
			var status = getUrlVars()["status"];
			var edicao = getUrlVars()["edicao"];
			var sucesso  = '<div class="alert alert-success alert-dismissible fade show" role="alert">';
			var erro = '<div class="alert alert-danger alert-dismissible fade show" role="alert">';
			if(status){
				sucesso += "Item removido com sucesso." + '<br>';
				sucesso += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
				sucesso += '<span aria-hidden="true">&times;</span>';
				sucesso += '</button></div>';
				$('#conteudo').append(sucesso);
				$('#nomeEquipamento').val('');
				$('#tipoEquipamentoAdd').val('');
				$("input:radio").removeAttr("checked");
			}
			if(edicao){
				sucesso += "Item editado com sucesso." + '<br>';
				sucesso += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
				sucesso += '<span aria-hidden="true">&times;</span>';
				sucesso += '</button></div>';
				$('#conteudo').append(sucesso);
			}
			$('.editar').click(function(){
				const id = $(this).val();
				window.location.href = '/inventario/editar-equipamento?id='+id;
			});
			$('.excluir').click(function(){
				const id = $(this).val();
				var xhr = new XMLHttpRequest();
				xhr.responseType = 'json';
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4 && xhr.status == 200){
						if(xhr.response.status){
							window.location.href = '/inventario/editar-excluir-equipamento?status=true'
						}
					}
					if(xhr.readyState == 4 && xhr.status == 203){
						erro += xhr.response.msg + '<br>';
						erro += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
    					erro += '<span aria-hidden="true">&times;</span>';
						erro += '</button>';
						$('#conteudo').append(erro);  
						return;
					}
				}
				xhr.open("DELETE", "http://" + window.location.host+"/inventario/apagar-equipamento/"+id);
				xhr.send();
			});
		});
	</script>
</body>
</html>