<!DOCTYPE html>
<html>
<head>
	<title>Home - Laboratório de automação e robótica da ECT.</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include partes/navbar %>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="card text-white bg-dark">
						<div class="card-body">
							<h5 class="card-title">Equipamentos</h5>
							<h1>54</h1>
							<p class="card-text">Cadastrados até o presente momento.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 margin-mobile">
					<div class="card text-white bg-danger">
						<div class="card-body">
							<h5 class="card-title">Emprestimos</h5>
							<h1>23</h1>
							<p class="card-text">Equipamentos emprestados até o presente momento.</p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!--
			<div class="row">
				<div class="col-md-12">
					<div class="card text-white bg-info">
						<div class="card-body">
							<h5 class="card-title">Ultimos equipamentos cadastrados</h5>
							<div class="col-md-12">
								<table class="table table-responsive table-hover w-100 d-block d-md-table">
									<thead style="text-align: center;">
										<tr>
											<th>#</th>
											<th>Nome</th>
											<th>Bolsista</th>
											<th>Data</th>
										</tr>
									</thead>
									<tbody style="text-align: center;">
										<tr>
											<th scope="row">A123</th>
											<td>Arduino</td>
											<td>Marcus Dantas</td>
											<td>31/02/2018</td>
										</tr>
										<tr>
											<th scope="row">B123</th>
											<td>Furadeira</td>
											<td>Lucas Oliveira</td>
											<td>31/02/2018</td>
										</tr>
										<tr>
											<th scope="row">C123</th>
											<td>Solda</td>
											<td>Gabriel Vantuil</td>
											<td>31/02/2018</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</div>
			</div>	
			-->
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			©2018, Laboratório de Automação e Robótica. Todos os direitos reservados.<br>
		</div>	
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>