<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de novo usuário - Laboratório de automação e robótica da ECT.</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include partes/navbar %>
	<section class="conteudo-principal">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div id="status"></div>
					<form id="form-cadastro">
						<div class="form-group">
							<label for="nomeEquipamento">Nome:</label>
							<input type="text" class="form-control" id="nome" placeholder="Digite o seu nome">
						</div>
						<div class="form-group">
							<label for="nomeEquipamento">Email:</label>
							<input type="email" class="form-control" id="email" placeholder="Digite o seu email">
                        </div>
                        <div class="form-group">
							<label for="nomeEquipamento">Senha:</label>
							<input type="password" class="form-control" id="senha" placeholder="Digite a sua senha">
                        </div>
                        <div class="form-group">
							<label for="nomeEquipamento">Repita a senha:</label>
							<input type="password" class="form-control" id="repetir-senha" placeholder="Repita a sua senha">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-secondary btn-block">Cadastrar</button>
						</div>
					</form>
				</div>
			</div>	
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			©2018, Laboratório de Automação e Robótica. Todos os direitos reservados.<br>
		</div>	
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#form-cadastro').submit(function(event) {
				event.preventDefault();
				$('#status').empty();
				var html  = '<div class="alert alert-danger alert-dismissible fade show" role="alert">';
				var sucesso = '<div class="alert alert-success alert-dismissible fade show" role="alert">';
				var nome  = $('#nome').val();
				var email = $('#email').val();
                var senha = $('#senha').val();
                var repetirSenha = $('#repetir-senha').val();
                var formData = new FormData();
                formData.append("nome", nome);
				formData.append("login", email);
                formData.append("senha", senha);
                formData.append("repetirSenha", repetirSenha);
				var xhr = new XMLHttpRequest();
				xhr.responseType = 'json';
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4 && xhr.status == 200){
						let msg = xhr.response.msg;
						sucesso += msg + '<br>';
						sucesso += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
    					sucesso += '<span aria-hidden="true">&times;</span>';
						sucesso += '</button></div>';
						$('#status').append(sucesso); 
						$('#form-cadastro').empty(); 
						return;
					}
					if(xhr.readyState == 4 && xhr.status == 203){
						if(xhr.response.erroForm){
							const msg = xhr.response.msg;
							for(let i = 0; i<msg.length;i++) html += msg[i].msg + '<br>';
							html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
    						html += '<span aria-hidden="true">&times;</span>';
							html += '</button></div>';
							$('#status').append(html);  
							return;
						}
						if(xhr.response.erroLogin){
							const msg = xhr.response.msg;
							html += msg + '<br>';
							html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
    						html += '<span aria-hidden="true">&times;</span>';
							html += '</button></div>';
							$('#staus').append(html);  
							return;
						}
					}
				}
				xhr.open("POST", "http://" + window.location.host+ "/cadastrar-usuario");
				xhr.send(formData);
			});
		});
	</script>
</body>
</html>