<!DOCTYPE html>
<html>
<head>
	<title>Realizar devolução - Laboratório de automação e robótica da ECT.</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include partes/navbar %>
	<section class="conteudo-principal">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div id="conteudo"></div>
					<form id="form-devolucao">
						<div class="input-group">
							<input id="nomePessoa" type="text" class="form-control" placeholder="Nome da pessoa" aria-label="Input group example" aria-describedby="btnGroupAddon">
							<div class="input-group-prepend">
								<button class="btn btn-secundary" type="submit"><i class="fas fa-search"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			©2018, Laboratório de Automação e Robótica. Todos os direitos reservados.<br>
		</div>	
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script>
		function getUrlVars(){
			var vars = [], hash;
			var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			for(var i = 0; i < hashes.length; i++)
			{
				hash = hashes[i].split('=');
				vars.push(hash[0]);
				vars[hash[0]] = hash[1];
			}
			return vars;
		}
		$(document).ready(function() {
			var status = getUrlVars()["status"];
			var sucesso  = '<div class="alert alert-success alert-dismissible fade show" role="alert">';
			var erro  = '<div class="alert alert-danger alert-dismissible fade show" role="alert">';
			if(status){
				sucesso += "Devolução realizada com sucesso." + '<br>';
				sucesso += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
				sucesso += '<span aria-hidden="true">&times;</span>';
				sucesso += '</button></div>';
				$('#conteudo').append(sucesso);
				$('#nomePessoa').val('');
			}
			$('#form-devolucao').submit(function(event) {
				event.preventDefault();
				var nomePessoa = $('#nomePessoa').val();
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "http://" + window.location.host+ "/inventario/emprestimos-ativos/" + nomePessoa);
				xhr.onload = function(){
					if(xhr.status == 200){
						var dados = JSON.parse(this.responseText);
						console.log(dados.emprestimos.length);
						var achados;
						for(let i=0;i<dados.emprestimos.length;i++){
							achados = '<button value="'+dados.emprestimos[i].cpf+'" type="button" class="btn btn-block btn-success btn-md achados">'
							achados += dados.emprestimos[i].nomePessoa;
							achados += '</button><br>';
							$('#conteudo').append(achados);
						}
						$('.achados').click(function() {
							const valor = $(this).val();
							window.location.href = '/inventario/visualizar-emprestimos-ativos?cpf='+valor;
						});
					}
					if(xhr.status == 404){
						erro += "Digite um nome para realizar a pesquisa" + '<br>';
						erro += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
						erro += '<span aria-hidden="true">&times;</span>';
						erro += '</button>';
						$('#conteudo').append(erro);  
						return;	 
					}
				}
				xhr.send();
			});
		});
	</script>
</body>
</html>